.a-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;

}

.a-right {
  flex: 1
}
.a-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
}

.a-card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: sienna;
}

.a-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.a-tech-img {
  width: 120px;
  height: 120px;
  border-radius: 20px;
}

.a-title {
  font-weight: 400;
}

.a-sub {
  margin: 20px 0px;
}

.a-desc {
  font-weight: 300;
}

.a-tech {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.a-tech-texts {
  width: 80%;
}

.a-tech-title {
  font-weight: bold;
  color: #555;
}

.a {
  height: 100vh;
  display: flex;
  align-items: center;
}
